@model List<Lab11_TimePerson.Models.TimePerson>
<!Doctype html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
</head>
<body id="index-body">
    <div id="wrapper">
        <nav>
            <a href="/"><img src="~/assets/time.jpg" /></a>
        </nav>
        <h1>Time Person</h1>
        <h2>Archive (1927-2016)</h2>

        <form method="post">

            <label for="startYear">Start Year:</label>
            <input type="number" id="startYear" name="startYear" placeholder="1927" min="1927" max="2015" required>

            <label for="EndYear">End Year:</label>
            <input type="number" id="EndYear" name="EndYear" placeholder="1928" min="1928" max="2016" required>

            <button type="submit">Submit</button>

        </form>
        <footer>
            <div className="footer" style="display: inline-flex">
                <div>
                    <p>Created by: Joseph Hangarter</p>
                </div>
                <ul>
                    <li>Contact information:</li>
                    <li>
                        <a href="https://www.linkedin.com/in/joseph-hangarter/" target="_blank">
                            <img class="logo" src="~/assets/linked_in_logo.png" style="padding-left: 7px">
                        </a>
                    </li>
                    <li>
                        <a class="logo" href="https://github.com/JCode1986" target="_blank">
                            <img class="logo" src="assets/github_logo.png" style="padding-left: 7px">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>

</body>
