@model List<Lab11_TimePerson.Models.TimePerson>
<!Doctype html>

<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
</head>
<body>
    <div style="background-image: url('../../../assets/hero.jpg');"></div>
    <h1>Times Person</h1>
    <h2>1927-2016 Archive</h2>

</body>

<form method="post">
    <input maxlength="4" placeholder="Start Year" name="startYear" /> -
    <input maxlength="4" placeholder="End Year" name="endYear" />
    <button type="submit">Submit</button>
</form>
